@model NorthwindMVC.Data.SUPPLIER

@{
    ViewBag.Title = "Supplier Detail";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPANYNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPANYNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTACTTITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTACTTITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTALCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTALCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COUNTRY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COUNTRY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HOMEPAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOMEPAGE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SUPPLIERID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
