<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Northwind | @ViewBag.Title</title>
    <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
    <link href="~/Content/entypo.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/mouldifi-core.css" rel="stylesheet">
    <link href="~/Content/mouldifi-forms.css" rel="stylesheet">
    <!--[if lt IE 9]>
          <script src="~/Scripts/html5shiv.min.js"></script>
          <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
        <script src="~/Scripts/plugins/flot/excanvas.min.js"></script>
    <![endif]-->
    @RenderSection("content", required: false)
</head>
<body>
    <div class="page-container">
        <div class="page-sidebar">
            <header class="site-header">
                <div class="site-logo"><a href="@Url.Action("Index", "Home")"><img src="~/images/logo.png" alt="Northwind" title="Northwind"></a></div>
                <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
                <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
            </header>
            <ul id="side-nav" class="main-menu navbar-collapse collapse">
                <li id="dashboard-link">
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i><span class="title">Dashboard</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Customers")"><i class="fa fa-address-card"></i><span class="title">Customers</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Products")"><i class="fa fa-archive"></i><span class="title">Products</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Employees")"><i class="fa fa-users"></i><span class="title">Employees</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Shippers")"><i class="fa fa-truck"></i><span class="title">Shippers</span></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Suppliers")"><i class="fa fa-plug"></i><span class="title">Suppliers</span></a>
                </li>
                @*<li class="has-sub">
                        <a href="#"><i class="fa fa-line-chart"></i><span class="title">Reports</span></a>
                        <ul class="nav collapse">
                            <li><a href="#"><span class="title">Low Inventory</span></a></li>
                            <li><a href="#"><span class="title">Sales by Category</span></a></li>
                            <li><a href="#"><span class="title">Sales by Year</span></a></li>
                        </ul>
                    </li>*@
            </ul>
        </div>
        <div class="main-container gray-bg">
            <div class="main-header row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <ul class="user-info pull-left">
                            <li class="profile-info dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <img width="44" class="img-circle avatar" alt="" src="~/images/man-3.jpg">John Henderson <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/"><i class="icon-user"></i>My profile</a></li>
                                    <li><a href="#/"><i class="icon-mail"></i>Messages</a></li>
                                    <li><a href="#"><i class="icon-clipboard"></i>Tasks</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-cog"></i>Account settings</a></li>
                                    <li><a href="#"><i class="icon-logout"></i>Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="user-info pull-left">
                            <li class="notifications dropdown">
                                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-attention"></i><span class="badge badge-info">6</span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="first">
                                        <div class="small"><a class="pull-right danger" href="#">Mark all Read</a> You have <strong>3</strong> new notifications.</div>
                                    </li>
                                    <li>
                                        <ul class="dropdown-list">
                                            <li class="unread notification-success"><a href="#"><i class="icon-user-add pull-right"></i><span class="block-line strong">New user registered</span><span class="block-line small">30 seconds ago</span></a></li>
                                            <li class="unread notification-secondary"><a href="#"><i class="icon-heart pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="unread notification-primary"><a href="#"><i class="icon-user pull-right"></i><span class="block-line strong">Privacy settings have been changed</span><span class="block-line small">2 hours ago</span></a></li>
                                            <li class="notification-danger"><a href="#"><i class="icon-cancel-circled pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="notification-info"><a href="#"><i class="icon-info pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                            <li class="notification-warning"><a href="#"><i class="icon-rss pull-right"></i><span class="block-line strong">Someone special liked this</span><span class="block-line small">60 seconds ago</span></a></li>
                                        </ul>
                                    </li>
                                    <li class="external-last"> <a href="#" class="danger">View all notifications</a> </li>
                                </ul>
                            </li>
                            <li class="notifications dropdown">
                                <a data-close-others="true" data-hover="dropdown" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-mail"></i><span class="badge badge-secondary">12</span></a>
                                <ul class="dropdown-menu pull-right">
                                    <li class="first">
                                        <div class="dropdown-content-header"><i class="fa fa-pencil-square-o pull-right"></i> Messages</div>
                                    </li>
                                    <li>
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/images/domnic-brown.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Domnic Brown</span>
                                                        <span class="media-annotation pull-right">Tue</span>
                                                    </a>
                                                    <span class="text-muted">Your product sounds interesting I would love to check this ne...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/images/john-smith.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">John Smith</span>
                                                        <span class="media-annotation pull-right">12:30</span>
                                                    </a>
                                                    <span class="text-muted">Thank you for posting such a wonderful content. The writing was outstanding...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/images/stella-johnson.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Stella Johnson</span>
                                                        <span class="media-annotation pull-right">2 days ago</span>
                                                    </a>
                                                    <span class="text-muted">Thank you for trusting us to be your source for top quality sporting goods...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/images/alex-dolgove.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Alex Dolgove</span>
                                                        <span class="media-annotation pull-right">10:45</span>
                                                    </a>
                                                    <span class="text-muted">After our Friday meeting I was thinking about our business relationship and how fortunate...</span>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="media-left"><img alt="" class="img-circle img-sm" src="~/images/domnic-brown.png"></div>
                                                <div class="media-body">
                                                    <a class="media-heading" href="#">
                                                        <span class="text-semibold">Domnic Brown</span>
                                                        <span class="media-annotation pull-right">4:00</span>
                                                    </a>
                                                    <span class="text-muted">I would like to take this opportunity to thank you for your cooperation in recently completing...</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="external-last"> <a class="danger" href="#">All Messages</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <h1 class="page-title">@ViewBag.Title</h1>
                @RenderBody()
                <footer class="footer-main">
                    &copy; @DateTime.Now.Year <strong>Microsoft Corporation</strong>
                </footer>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metismenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/plugins/blockui-master/jquery-ui.js"></script>
    <script src="~/Scripts/plugins/blockui-master/jquery.blockUI.js"></script>
    <script src="~/Scripts/functions.js"></script>
    <script type="text/javascript">
        $(function () {
            var pgurl = location.pathname;
            var found = false;
            $("ul#side-nav li a").each(function () {
                if (pgurl.indexOf($(this).attr("href")) === 0 && pgurl !== '/' && $(this).attr("href") !== '/') {
                    $(this).parent('li').addClass("active");
                    found = true;
                }
            })
            if (found === false) {
                $('#dashboard-link').addClass("active");
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>